.hCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    margin-bottom: 20px;
}

.hCard_image {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.hCard_detail {
    display: flex;
    flex: 1;
    padding: 0 20px;
    flex-direction: column;
}
